.curiosities{
    padding: 5vw;
    background: linear-gradient(rgba(252, 0, 0, 0.733), #202eaa );

    &__list{
        list-style: none;

        &__item{
            background-color: #202eaa;
            margin-bottom: 16px;

            &--red{
                background-color: rgba(252, 0, 0, 0.733);
            }

            &__question{
                color: #fff;
                font-size: 20px;
                padding: 24px;
                display: block;
                cursor: pointer;
                position: relative;

                    &::after{
                        content: '+';
                        position: absolute;
                        top: 0;
                        right: 24px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        font-size: 40px;
                    }
            }

            &__answer{
                height: 0;
                overflow: hidden;
                padding: 0 24px;
                transition: height, .5s ease;
            }

            &--is-open{
                .curiosities__list__item__question::after{
                    content: '-';
                }

                .curiosities__list__item__answer{
                    height: auto;
                    padding-bottom: 24px;
                    transition: height, .5s ease;
                }
            }
        }

    }
}