.header{

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 10vh;
    }

    &__logo{
        max-width: 150px;
        width: 100%;
        padding:  16px 24px;
    }

    &__list{
        display: flex;
        padding: 16px 24px;
        list-style: none;
        

        &__item{
            padding-right: 16px;
            font-size: 18px;
            font-weight: bold;

            
            &__link{
                text-decoration: none;
                color: #fff;
            }
        }
    }
}