.header{
    background-color: #00cbf8c0;

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo{
        max-width: 150px;
        width: 100%;
        padding:  16px 24px;
    }

    &__links{
        display: flex;
        padding: 16px 24px;
        list-style: none;
        

        &__item{
            padding-right: 16px;
            font-size: 18px;
            font-weight: bold;

            
            a{
                text-decoration: none;
                color: #fff;
            }
        }
    }
}