.header{
    background-color: #202eaa;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1;
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 10vh;
    }

    &__logo{
        max-width: 120px;
        width: 100%;
        padding:  16px 24px;
        margin-left: 20px;
    }

    &__list{
        display: flex;
        padding: 16px 24px;
        list-style: none;
        

        &__item{
            padding-right: 30px;
            font-size: 18px;
            font-weight: bold;

            
            &__link{
                text-decoration: none;
                color: #fff;

                &:hover{
                    color: rgba(252, 0, 0, 0.918);
                }
            }
        }
    }

    @media (max-width: 640px){

        &__logo{
            max-width: 100px;
            margin-left: 0;
        }

        &__list{
            padding: 0;

            &__item{
                padding-right: 16px;
            }
        }


    }
}