.hero{
    position: relative;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    &__content{
        max-width: 640px;
        margin-left: 80px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__logo{
            max-width: 500px;
            margin-bottom: 30px;
            margin-left: 10px;
        }

        &__buttons{
            display: flex;
            list-style: none;

            .button{
                margin-left:16px;
                border-radius: 16px;
            }
        }
    }

    &__contentTwo{
        width: 640px;
        display: flex;
        justify-content: center;

        &__image{
            max-width: 350px;
            margin-left: 150px;
            margin-bottom: 100px;
        }
    }

}