.hero{
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content{
        max-width: 640px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        &__logo{
            max-width: 500px;
            margin-bottom: 30px;
            margin-left: 10px;
        }

        &__buttons{
            display: flex;
            list-style: none;

            .button{
                margin-left:16px;
                border-radius: 16px;
            }
        }
    }



    @media (max-width: 640px){


        &__content{
            display: block;
            max-width: 800px;

            
            &__logo{
                max-width: 200px;
                margin-left: 0;
            }

            &__buttons{

                .button{
                    margin-left: 8px;
                }
            }
        }


        &__contentTwo{

            &__image{
                max-width: 100px;
            }
        }
    }
}