@use 'header';
@use 'hero';
@use 'background';



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.button{
    text-decoration: none;
    padding: 16px;
    background-color: #0011fde8;
    color: #fff;
}