@use 'header';
@use 'hero';
@use 'background';
@use 'curiosities';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #000;
}

.button{
    text-decoration: none;
    padding: 16px;
    background-color: #202eaa;
    color: rgba(252, 0, 0, 0.918);
    font-weight: bold;
    font-size: 20px;

    &:hover{
        background-color: rgba(252, 0, 0, 0.918);
        color: #202eaa;
    }
}

.title{
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}

.title-big{
    color: #fff;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.text{
    color: #fff;
    line-height: 30px;
    text-align:start;
}

.image-text-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5vw;
    align-items: center;
    text-align: center;
    

    &__logo{
        max-width: 600px;
        max-height: 450px;
        
    }

    
}

#text1,
#text3{
    background-color: #202eaa;
}

#text2{
    background-color: rgba(170, 29, 29, 0.918);
}